.dashboard {
    .outlet__side-nav {

        display: flex;
        justify-content: space-between;


    }

    .side-navs {
        @media screen and (max-width: 850px) {
            position: absolute;
            width: 0;
        }
    }

    .main-container {
        width: 100%;
        background-color: $defaultbg;
        margin-top: 100px;

        @media screen and (max-width: 850px) {
            margin-top: 70px
        }

        @media screen and (max-width: 650px) {
            padding: 1rem
        }

        .outlet {
            width: 93%;
            max-width: 1037px;
            margin: 0 auto;
            margin-top: 6rem;

        }
    }
}