*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $size-m;

    @media screen and (max-width: 768px) {
        font-size: $sm-size-m;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

button {
    background-color: $secondary;
    border: none;
    cursor: pointer;
}