.login {
    display: flex;
    height: 100vh;

    .mobile-logo {
        display: none;
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        .mobile-logo {
            display: block;
            width: 336px;
            padding: 2rem;
            margin: 0 auto 6rem;
            text-align: center;

            img {
                width: 120px;
            }
        }
    }

    @mixin side {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4%;

        @media screen and (max-width: 700px) {
            width: 100%;
            padding-left: 0;

        }

    }

    .art-side {
        @include side;
        background-color: $defaultbg;

        @media screen and (max-width: 700px) {
            display: none;
        }

        .logo {
            max-width: 173px;
            position: absolute;
            top: 10%;

            @media screen and (max-width: 900px) {
                width: 120px;
            }

            img {
                width: 100%;
            }

        }

        .art-img {
            width: 95%;
            max-width: 600px;
            margin-top: 5rem;

            img {
                width: 100%;
            }
        }
    }

    .form-side {
        @include side;
        font-family: $Avenir;
        padding-left: 6%;

        @media screen and (max-width: 700px) {
            padding-left: 0;

        }



        @media screen and (max-width: 700px) {
            .greetings {
                width: 80%;
                margin: 0 auto 2.4rem;
                max-width: 336px;

            }


        }

        .greetings h2 {
            font-family: $Avenir-bold;
            font-size: $size-xl;
            font-weight: $font-wlg;
            color: $primary;
        }

        @media screen and (max-width: 900px) {
            .greetings h2 {
                font-size: 2.3rem;
            }

        }

        p {
            margin-top: 1rem;
            font-size: 2rem;
            color: $muted;

            @media screen and (max-width: 900px) {

                font-size: 1.3rem;


            }
        }

        .form {
            margin-top: 6rem;

            @media screen and (max-width: 700px) {
                margin-top: 1rem;

            }

            div {
                margin-bottom: 2.4rem;
                position: relative;
                width: 80%;
                max-width: 447px;

                @media screen and (max-width: 700px) {
                    width: 80%;
                    max-width: 336px;
                    margin: 0 auto 1rem;
                }
            }

            input {
                width: 100%;
                font-size: $size-m2;
                font-family: $Avenir;
                padding: 1.5rem;
                border: 2px solid rgba(84, 95, 125, 0.15);
                border-radius: 5px;

                @media screen and (max-width: 900px) {
                    padding: 0.7rem;
                    font-size: 1.1rem;
                }

                &:focus {
                    border: none;
                    outline: 2px solid $secondary;
                }
            }

            @mixin fonts {
                font-family: $Avenir-bold;
                font-weight: 600;
            }

            .error {
                display: flex;
                align-items: center;
                font-family: 'Trebuchet MS';
                border-radius: 8px;
                padding: 1rem;
                font-size: 2rem;
                color: $danger;
                background-color: (lighten($color: $danger, $amount: 50));

                .text {
                    font-size: $size-m2;
                    margin-left: 1rem;
                }
            }

            .show-pswd {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                font-size: $size-sm;
                color: lighten($secondary, 7%);
                cursor: pointer;
                @include fonts;

                @media screen and (max-width: 900px) {
                    font-size: 0.9rem;
                }
            }

            .forgot-pswd {
                color: lighten($secondary, 7%);
                font-size: $size-sm;
                @include fonts;
                margin-bottom: 3rem;

            }

            button {
                @include fonts;
                background-color: $secondary;
                color: $default;
                border-radius: 8px;
                width: 100%;
                max-width: 447px;
                padding: 1.5rem;

                @media screen and (max-width: 900px) {
                    font-size: 1.1rem;
                    padding: 0.7rem;


                }


            }
        }

    }

}