.users {
    font-family: $WorkSans;
    color: $primary;

    .heading {
        font-weight: $font-w;
        font-size: $size-l;

        @media screen and (max-width: 600px) {
            font-size: $sm-size-l;
        }

    }

    .usersNum,
    .filteredSection {
        margin-top: 4rem;
    }
}