.users-num {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
    }

    .container {
        width: 25%;
        padding: 2rem 0 2rem 3rem;
        background-color: $default;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        @media screen and (max-width: 1100px) {
            width: 46%;
            padding: 1.5rem;

        }

        .head {
            font-size: $size-m2;
            font-weight: $font-w;
            margin: 1.4rem 0 1.2rem;

            @media screen and (max-width: 768px) {
                font-size: $sm-size-m2;
            }
        }

        .num {
            font-size: $size-l;
            font-weight: $font-wmd;

            @media screen and (max-width: 768px) {
                font-size: $sm-size-l;
            }
        }

    }
}