//colors
$primary: #213F7D;
$primary2: #545F7D;
$secondary: #39CDCC;
$default: #FFF;
$danger: #E4033B;
$success: #39CD62;
$muted: #545F7D;
$pending: #E9B200;
$defaultbg: darken(#FFF, 1%);

//font-weight
$font-wlg: 700;
$font-wmd: 600;
$font-w: 500;

//font-sizes
$size-xl: 4rem;
$size-l: 2.4rem;
$size-m: 1.6rem;
$size-m2:1.4rem;
$size-sm: 1.2rem;

//fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

@font-face {
    font-family: "Avenir";
    src: url("/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
    font-family: "Avenir-bold";
    src: url("/fonts/AvenirNextLTPro-Bold.otf");
}
$Avenir: "Avenir", sans-serif;
$Avenir-bold: "Avenir-bold", sans-serif;
$Roboto: "Roboto", sans-serif;
$WorkSans: "Work Sans", sans-serif;
